body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;

}

footer {
    padding: 24px 0;

}

img {
    height: 200px;
}

nav {
    border-bottom: solid 1px black;
    padding: 16px 16px;
}
